@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
	 
}





#image{
	background: url(../imagenes/fondo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}

@media {
.grid_container{
	display: grid;
	grid-template: 
	"header" 70px
	"main"	auto
	"sidebar" 600px
	"footer" 50px
	;
	}

	a{
		text-decoration: none;
		color: black;
	}


.header{
	grid-area: header;
	background-color: white;
}


.main{
	grid-area: main;
}




.sidebar{
	grid-area: sidebar;
	margin-top: 3%;
}

.footer{
	font-size:10px;
	grid-area: footer;
	background-color: red;
	 
 }

#logo{
	width: 136px;
	height: 50px;
	position: relative;
	left: 2%;
}

.redes{
	padding:1px;
	float: right;
	margin-right: 5%;
	margin-top:-3%;
}
	
#seguinos{
	float: right;
	margin-right: 20%;
	margin-top: -4%;
	font-size: 15px;
	color: white;
}




#titulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 40pt;
	text-shadow: 3px 3px 5px #000000;
	color: #d35400;
}

#subtitulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 20pt;
}


#subtitulos1{
	padding:15px;
	margin-left:90px;
	font-size: 25pt;
	background-color:silver;
}


#galería{
	padding-top: 1%;
	padding-left: 10%;

}

p{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 10pt;
}

ul{
	padding-top: 1%;
	padding-left: 7%;
}
h1{
	font-size: 18pt;
}

h4{
	margin-top: 3px;
	margin-left: 3%;
	color: #ffffff;
	font-size: 10pt;
}

@keyframes titulo{

15% { transform: translateX(5px);}

30% { transform: translateX(-5px);}

50% { transform: translateX(3px);}

65% { transform: translateX(-3px);}

80% { transform: translateX(2px);}

100% { transform: translateX(0);}

}

#resumen2{
	float: left;

	top: 70%;
	left: 25%;
	padding: 15px;
	background-color: #66cccc;
	border-radius: 5px;
	text-align: center;
	font-weight:bold;
	font-size:15px;
	color: black;
	
}

#participar{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom:5%;
	text-align: left;
	background-color:red;
	border-radius:10px;
	color:white;
	margin-left:10%;

}

#formugana{
	margin-top:10px;
	position: relative;
	top: 1%;
	left: 10%;
	padding: 15px;
	width: 350px;
	background-color: silver;
	border-radius: 15px;
	font-weight:bold;
	border: 2px;
}

#participar2{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom:5%;
	margin-top:30px;
	margin-bottom:10px;
	text-align: left;
	background-color:red;
	border-radius:10px;
	color:white;
	margin-left:10%;
font-size:15px;
}

.etiqueta {
 	color: #272727;
 	font-size: 10pt;
 }

.enviar{
	width: 100%;
	height: 35px;
	border: none;
	color: #E5EFF0;
	background-color: #d35400; 
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 10px;
}

.enviar:hover{
	color: #d35400;
	background-color: #E5EFF0;
}

.anchoform{
 	width: 100%
 }

}

@media (min-width: 800px) {

	.grid_container{

		grid-template: 
		"header 	header" 	70px 
		"main 		sidebar" 	auto
		"footer 	footer" 	50px /
		 auto 		400px;
 	}
a{
	text-decoration: none;
	color: black;
}
h1{
	font-size: 30pt;
}

#logo{
	width: 136px;
	height: 50px;
	position: relative;
	left: 2%;
}

#titulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 40pt;
	text-shadow: 3px 3px 5px #000000;
	color: #d35400;
}

#subtitulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 20pt;
}


#subtitulos1{
	padding:15px;
	margin-left:90px;
	font-size: 25pt;
	background-color:silver;
}


#participar{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom:5%;
	text-align: left;
	background-color:red;
	border-radius:10px;
	color:white;
	margin-left:10%;

}

#formugana{
	margin-top:10px;
	position: relative;
	top: 1%;
	left: 10%;
	padding: 15px;
	width: 350px;
	background-color: silver;
	border-radius: 15px;
	font-weight:bold;
	border: 2px;
}

#participar2{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom:5%;
	margin-top:30px;
	margin-bottom:10px;
	text-align: left;
	background-color:red;
	border-radius:10px;
	color:white;
	margin-left:10%;
font-size:15px;
}





#galería{
	padding-top: 1%;
	padding-left: 10%;

}

ul{
	padding-top: 1%;
	padding-left: 7%;
}


p{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 10pt;
}


.redes{
	float: right;
	margin-right: 5%;
	margin-top: -2%;

}

#seguinos{
	float: right;
	margin-right: 12%;
	margin-top: -4%;
	font-size: 14px;
	color: #ffffff;
}


.main{
	grid-area: main;
}


.header{
	grid-area: header;
	background-color: white;
}

.footer{
	grid-area: footer;
	background-color: red;
	 
 }

.sidebar{
	grid-area: sidebar;
	margin-top: 3%;

}


@keyframes titulo{

15% { transform: translateX(5px);}

30% { transform: translateX(-5px);}

50% { transform: translateX(3px);}

65% { transform: translateX(-3px);}

80% { transform: translateX(2px);}

100% { transform: translateX(0);}

}

#resumen2{
	float: left;

	top: 70%;
	left: 25%;
	padding: 15px;
	background-color: #66cccc;
	border-radius: 5px;
	text-align: center;
	font-weight:bold;
	font-size:15px;
	color: black;
	
}





.etiqueta {
	color: #272727;
	font-size: 10pt;
}

.enviar{
	width: 100%;
	height: 35px;
	border: none;
	color: #E5EFF0;
	background-color: #d35400; 
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 10px;
}

.enviar:hover{
	color: #d35400;
	background-color: #E5EFF0;
}

.anchoform{
 	width: 100%
 }

h4{
	margin-top: 10px;
	margin-left: 2%;
	color: #ffffff;
}


}


@media (min-width: 1200px) {
	.grid_container{
		grid-template: 
		"header 	header 	header" 	70px 
		"main 		main 	sidebar" 	auto
		"footer 	footer 	footer" 	50px /
		 300px 		auto 	500px;
	}

	.main{
	grid-area: main;
	
}


.header{
	grid-area: header;
	background-color: white;
}

.footer{
	grid-area: footer;
	background-color: red;
	 
 }

.sidebar{
	position: relative;
	margin-right:30px;
	padding:1%;
	grid-area: sidebar;
	margin-top: 3%;
	background-color:none;
	border-radius:10px;
	
}

#logo{
	width: 136px;
	height: 50px;
	float: left;
	margin-top: 10px;
	margin-left:40px;
}

@keyframes titulo{

15% { transform: translateX(5px);}

30% { transform: translateX(-5px);}

50% { transform: translateX(3px);}

65% { transform: translateX(-3px);}

80% { transform: translateX(2px);}

100% { transform: translateX(0);}

}

#resumen2{
	float: left;

	top: 70%;
	left: 25%;
	padding: 15px;
	background-color: #66cccc;
	border-radius: 5px;
	text-align: center;
	font-weight:bold;
	font-size:15px;
	color: black;
	
}







#titulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 40pt;
	text-shadow: 3px 3px 5px #000000;
	color: #d35400;
}

#subtitulos{
	padding-top: 2%;
	padding-left: 10%;
	font-size: 20pt;
}


#subtitulos1{
	padding:15px;
	margin-left:90px;
	font-size: 25pt;
	background-color:silver;
}

a{
	text-decoration: none;
	color: black;
}

p{
	padding-top: 2%;
	padding-left: 5%;
	font-size: 18pt;
}

ul{
	padding-top: 1%;
	padding-left: 7%;
}

h1{
	font-size: 40pt;
}

h4{
	margin-top: 10px;
	margin-left: 3%;
	color: #ffffff;
}

#participar{
	margin-right:30px;
	margin-top:20px;
 	padding:15px;
	font-size:15pt;
	text-align: ;
 	background-color:red;

}

#formugana{
	margin-top:10px;
	position: relative;
	top: 1%;
	left: 10%;
	padding: 15px;
	width: 350px;
	background-color: silver;
	border-radius: 15px;
	font-weight:bold;
	border: 2px;
}

#participar2{
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom:5%;
	margin-top:30px;
	margin-bottom:10px;
	text-align: left;
	background-color:red;
	border-radius:10px;
	color:white;
	margin-left:10%;
	font-size:15px;

}

.etiqueta {
 	color: #000000;
 	font-size: 12pt;
 }

.anchoform{
 	width: 100%
 }

.enviar{
	width: 100%;
	height: 35px;
	border: none;
	color: #E5EFF0;
	background-color: #d35400; 
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 10px;
}

.enviar:hover{
	color: #d35400;
	background-color: #E5EFF0;
}

#seguinos{
	float: right;
	margin-right: 8%;
	margin-top: -3%;
	font-size: 14px;
	color: #ffffff;
}

.redes{
	padding:1px;
	float: right;
	margin-right: 1%;
	margin-top: -1.5%;

}



}


